{% for intf in intfs %}
{% if not 'Loopback' in intf and not 'mgmt' in intf and not 'Ethernet3' in intf and not 'Ethernet4' in intf and not 'Vlan' in intf %}
{% if 'iosxr' in ansible_network_os %}
  - name: {{ intf }} 
    description: {{ intfs[intf].description | default(omit) }}
    speed: "{{ intfs[intf].bandwidth // 1000 }}"
    enabled: {{ intfs[intf].operstatus | default(omit) | replace ('administratively down', 'false') | replace('up','true') }}
{% elif 'nxos' in ansible_network_os %}
  - name: {{ intf }} 
    description: {{ intfs[intf].description | default(omit) }}
    duplex: {{ intfs[intf].duplex | lower | replace ('none','auto') }}
    speed: "{{ intfs[intf].bandwidth // 1000 }}"
{% else %}
  - name: {{ intf }} 
    description: {{ intfs[intf].description | default(omit) }}
{% if not inventory_hostname in groups['csr1000v'] %}
    duplex: {{ intfs[intf].duplex | lower | replace ('none','auto') }}
    speed: "{{ intfs[intf].bandwidth // 1000 }}"
{% endif %}
    enabled: {{ intfs[intf].operstatus | default(omit) | replace ('administratively down', 'false') | replace('up','true') }}
{% endif -%}
{% endif -%}
{% endfor -%}
