{% for intf in intfs %}
{% if not 'Loopback' in intf and not 'mgmt' in intf and not 'Ethernet3' in intf and not 'Ethernet4' in intf %}
  - name: {{ intf }}
{% if intfs[intf].ipv4 is defined and intfs[intf].ipv4|length %}
    ipv4: [
      {
        address: {{ intfs[intf].ipv4[0].address }}/{{ intfs[intf].ipv4[0].subnet }}
      }
    ]
{% endif %}
{% endif -%}
{% endfor -%}
