{% for intf in intfs %}
{% if not 'Loopback' in intf and not 'mgmt' in intf and not 'Ethernet3' in intf and not 'Ethernet4' in intf and not 'Vlan' in intf %}
  - name: {{ intf }}
{% if intfs[intf].ipv4 is defined and not intfs[intf].ipv4 is none and intfs[intf].ipv4|length  %}
{% if 'iosxr' in ansible_network_os %}
    ipv4: [
      {
        address: {{ intfs[intf].ipv4.address }}/{{ intfs[intf].ipv4.masklen }}
      }
    ]
{% else %}
    ipv4: [
      {
        address: {{ intfs[intf].ipv4[0].address }}/{{ intfs[intf].ipv4[0].subnet }}
      }
    ]
{% endif %}
{% endif %}
{% endif -%}
{% endfor -%}
